* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 1280px;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body.loading,
html.loading {
    overflow: hidden;
}

#loading-screen {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 110%;
    background-color: #00d1d5;
}

.spinner {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: 5px solid white;
    border-top: 5px solid #00a0a3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.cargandoText{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    color: rgb(20, 60, 94);
    font-weight: 600;
    font-size: 1.2em;
}

.my-loader {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scale(0.4);
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 100px auto;
  }
  
  .rubiks-cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: my-rotateCube 5s infinite linear;
  }
  
  .my-loader .face {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .my-loader .face.front {
    transform: translateZ(100px);
  }
  .my-loader .face.back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .my-loader .face.left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .my-loader .face.right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .my-loader .face.top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .my-loader .face.bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .my-loader .cube {
    width: calc(100% / 3);
    height: calc(100% / 3);
    box-sizing: border-box;
    border: 1px solid #ffffff;
  }
  
  @keyframes my-rotateCube {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  

@keyframes spin {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

/* Animación general para entrada */
@keyframes entrada {
    0% {
        opacity: 0;
        translate: 0px 50px;
        scale: 0.9;
    }

    100% {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

/* Aplica la animación a todos los elementos */
.presentacionOpen img {
    animation: entrada 1s ease-out forwards;
    opacity: 0;

}

.presentacion{
    position: relative;
    background-image: url("../images/ff.png");
    width: 1279.074px;
    height: 959.305px;
}


#arbol1 {
    position: absolute;
    left: -152px;
    top: -1px;
    z-index: 1;
    transform-origin: bottom;
    transform: rotateY(10deg);
}

#pasto1 {
    transform-origin: bottom;
    position: absolute;
    left: 161px;
    top: 718px;
    z-index: 0;
}

#piedra1 {
    transform-origin: bottom;
    position: absolute;
    left: 129px;
    top: 793px;
    z-index: 2;
}

#pasto2 {
    transform-origin: bottom;
    position: absolute;
    left: 197px;
    top: 822px;
    z-index: 3;
}

#muñeco1 {
    position: absolute;
    left: 411px;
    top: 501px;
    z-index: 2;
}

#muñeco2 {
    position: absolute;
    left: 536px;
    top: 404px;
    z-index: 1;
}

#muñeco3 {
    position: absolute;
    left: 694px;
    top: 339px;
    z-index: 0;
}

#arbol2 {
    transform-origin: bottom;
    position: absolute;
    left: 881px;
    top: 107px;
    z-index: 3;
}

#arbol3 {
    transform-origin: bottom;
    position: absolute;
    left: 1081px;
    top: 278px;
    z-index: 1;
}

#piedra2 {
    transform-origin: bottom;
    position: absolute;
    left: 1072px;
    top: 738px;
    z-index: 4;

}

#piedra3 {
    transform-origin: bottom;
    position: absolute;
    left: 1035px;
    top: 738px;
    z-index: 3;
}

#piedra4 {
    transform-origin: bottom;
    position: absolute;
    left: 1042px;
    top: 786px;
    z-index: 4;
}

#pasto3 {
    transform-origin: bottom;
    position: absolute;
    left: 1028px;
    top: 630px;
    z-index: 0;
}

#pasto4 {
    transform-origin: bottom;
    position: absolute;
    left: 1081px;
    top: 662px;
    z-index: 2;
}

.sombra {
    position: absolute;
    opacity: 0.61;
    filter: blur(10px);
}

#sombra1 {
    left: 494px;
    top: 763px;
}

#sombra2 {
    left: 608px;
    top: 729px;
}

#sombra3 {
    left: 724px;
    top: 698px;
}

#logoCarga {
    position: absolute;
    width: 560px;
    height: 320px;
    left: 50%;
    transform: translateX(-49%);
    top: 55px;
    z-index: 11;
}

#logo {
    position: absolute;
    width: 560px;
    height: 320px;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    z-index: 11;
}

.btn {
    display: flex;
    color: white;
    place-items: center;
    justify-content: center;
    background-color: #83C252;
    border: solid 8px white;
    border-radius: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    cursor: pointer;
    box-shadow: 4px 5px 0px 0px #02187E;
}

#btn-comprar {
    position: absolute;
    letter-spacing: 2.2px;
    top: 12px;
    left: 972px;
    width: 216px;
    height: 66px;
}

.descargar {
    display: flex;
    position: relative;
    color: white;
    place-items: center;
    justify-content: center;
    width: 556px;
    height: 82px;
    margin-top: 62px;
    z-index: 2;
    font-size: 31.14px;
    font-weight: 800;
}

.btn:hover {
    animation: hoverAnimation 0.1s ease-in-out;
    transform: translateY(3px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    border-color: #acd784;
    background-color: #7db04a;
}

@keyframes hoverAnimation {
    0% {
        transform: translateY(0);
        border-color: #fff;
        box-shadow: 4px 5px 0px 0px #02187E;
    }

    100% {
        transform: translateY(3px);
        border-color: #acd784;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    }
}


.btn-hamburguesa span {
    position: absolute;
    left: 96px;
    width: 42px;
    height: 12px;
    background-color: #F39E46;
    border: 4px solid #fff;
    z-index: 10;
    border-radius: 50px;
    box-shadow: 4px 5px 0 0 #02187E;
}

.btn-hamburguesa{
    cursor: pointer;
}

#span-top {
    top: 16px;
}

#span-center {
    top: 27px;
}

#span-bottom {
    top: 38px;
}

/* Animación para abrir */
.openTop {
    animation: openTop 0.5s forwards ease-in-out;
}

.openCenter {
    animation: openCenter 0.5s forwards ease-in-out;
}

.openBottom {
    animation: openBottom 0.5s forwards ease-in-out;
}

/* Animación para cerrar */
.closeTop {
    animation: closeTop 0.5s forwards ease-in-out;
}

.closeCenter {
    animation: closeCenter 0.5s forwards ease-in-out;
}

.closeBottom {
    animation: closeBottom 0.5s forwards ease-in-out;
}

/* Keyframes de apertura */
@keyframes openTop {
    from {
        top: 16px;
        rotate: 0deg;
        box-shadow: 4px 5px 0 0 #02187E;
    }

    to {
        top: 27px;
        rotate: 45deg;
        box-shadow: none;
    }
}

@keyframes openCenter {
    from {
        opacity: 1;
        box-shadow: 4px 5px 0 0 #02187E;
    }

    to {
        box-shadow: none;
        opacity: 0;
    }
}

@keyframes openBottom {
    from {
        top: 38px;
        rotate: 0deg;
        box-shadow: 4px 5px 0 0 #02187E;
    }

    to {
        top: 27px;
        rotate: -45deg;
        box-shadow: none;
    }
}

/* Keyframes de cierre */
@keyframes closeTop {
    from {
        top: 27px;
        rotate: 45deg;
        box-shadow: none;
    }

    to {
        top: 16px;
        rotate: 0deg;
        box-shadow: 4px 5px 0 0 #02187E;
    }
}

@keyframes closeCenter {
    from {
        opacity: 0;
        box-shadow: none;
    }

    to {
        opacity: 1;
        box-shadow: 4px 5px 0 0 #02187E;
    }
}

@keyframes closeBottom {
    from {
        top: 27px;
        rotate: -45deg;
        box-shadow: none;
    }

    to {
        top: 38px;
        rotate: 0deg;
        box-shadow: 4px 5px 0 0 #02187E;
    }
}

nav {
    position: relative;
    height: fit-content;
    margin-top: 100px;
    left: -300px;
    width: 300px;
    z-index: 10;
    overflow: hidden;
}

.categoria {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 0;
    background-color: #F39E46;
    border: 4px solid white;
    outline: 1px solid black;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: black;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    width: 230px;
    transform: translateX(-250px);
    cursor: pointer;
}

.categoria:hover {
    font-size: 18px;
}

.openCat1 {
    animation: openCat1 0.75s ease-in-out forwards;
}

.openCat2 {
    animation: openCat2 1s ease-in-out forwards;
}

.openCat3 {
    animation: openCat3 1.25s ease-in-out forwards;
}

.openNav {
    animation: openNav 0s forwards;
}

.closeNav {
    animation: closeNav 2s forwards;
}

.closeCat1 {
    animation: closeCat1 1.25s ease-in-out forwards;
}

.closeCat2 {
    animation: closeCat2 1s ease-in-out forwards;
}

.closeCat3 {
    animation: closeCat3 .75s ease-in-out forwards;
}

@keyframes openNav {
    from {
        left: -300px;
    }

    to {
        left: 0px;
    }
}

@keyframes closeNav {
    from {
        left: 0px;
    }

    to {
        left: -300px;
    }
}

@keyframes openCat1 {
    from {}

    to {
        translate: 240px;
    }

}

@keyframes openCat2 {
    from {}

    to {
        translate: 225px;
    }

}

@keyframes openCat3 {
    from {}

    to {
        translate: 200px;
    }
}

@keyframes closeCat1 {
    from {
        translate: 240px;
    }

    to {
        translate: -250px;
    }

}

@keyframes closeCat2 {
    from {
        translate: 225px;
    }

    to {
        translate: -250px
    }

}

@keyframes closeCat3 {
    from {
        translate: 200px;
    }

    to {
        translate: -250px
    }


}

header {
    width: 1280px;
    position:fixed;
    z-index: 99;
    height: max-content;
    height: 103px;
}

#gradient {
    width: 1280px;
    height: 103px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #00d1d5 43%);
    transform: translateY(-200px);
}



.segundaParte {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    background-image: url("../images/ff2.png");
    background-repeat: no-repeat;
    height: 1650px;
}


.containerSegundaParte {
    width: 1080px;
    height: 1000px;
}

#titulo1 {
    width: 508px;
    color: #1B428F;
    font-family: Lato;
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 44.415px */
}

#parrafo1 {
    width: 704px;
    height: 154px;
    flex-shrink: 0;
    margin-top: 22px;
    color: #1B428F;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#muñeco5 {
    transform: translate(683px, -87px);
}

#muñeco4 {
    position: relative;
    z-index: 11;
    scale: 0.8;
}

.marcoImagen {
    position: relative;
    z-index: 1;
    width: 576.38px;
    height: 324.351px;
    border: 29px solid #1B5F99;
    border-radius: 77px;
    background-image: url("../images/imgContent1.png");
    transform: translate(136px, -32px);
    background-position: center;
    background-size: cover;
}

#contentSegundaParte {
    transform: translateY(-1802px);
}

.contenedorCards {
    position: relative;
    width: 1080px;
    display: flex;
    justify-content: space-between;
}

.imgCard {
    border-radius: 41px;
    border: 9px solid #2982FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    width: 332px;
    height: 302px;
    margin-bottom: 23px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 333px;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card1 {
    background-image: url("../images/card1.png");
    background-position: center;
}

.card2 {
    background-image: url("../images/card2.png");
    background-position: center;
}

.card3 {
    background-image: url("../images/card3.png");
    background-position: center;
}

#card1 {
    transform: translateY(500px);
}

#card2 {
    transform: translateY(500px);
}

#card3 {
    transform: translateY(500px);
}

.openCard1 {
    animation: openCard .6s ease-in forwards;
}

.openCard2 {
    animation: openCard .9s ease-in forwards;
}

.openCard3 {
    animation: openCard 1.2s ease-in forwards;
}

@keyframes openCard {
    from {
        opacity: 0;
        transform: translateY(500px);
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

.terceraParte {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 1157px;
    position: relative;
    background-image: url("../images/top3raparte.png");
    padding-top: 175px;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 174px;
}

#parte3-muniecos {
    scale: 1.25;
}

#h1-terceraParte {
    width: 950px;
    height: 153px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 61.14px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}

#h1-terceraParte span {
    color: #FFF;
    font-size: 61.14px;
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
}

.contenedorSuperiorTerceraParte {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contenedorNumberBlocks {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 767px;
}


.cuartaParte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 1280px;
}

.cuartaParteContenido {
    width: 1080px;
}

.cuartaParte-fila {
    display: flex;
    width: 100%;
}

.cuartaParte-header {
    width: 1080px;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 174px;
}

.col-izq-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    height: auto;
    min-height: 300px;
}

.col-der-info{
    width: 50%;
}

.imagen-dinamica {
    width: 50%;
    height: auto;
    opacity: 0;
    position: sticky;
    top: 25%;
    transform: scale(0.7);
}

.imagen-dinamica.visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1000ms ease, transform 800ms ease;
}

#imgContent1{
    display: block;
}

#imgContent2{
    display: none;
}

#imgContent3{
    display: none;
}

#imgContent4{
    display: none;
}

#imagen-1 {
    width: 55%;
}

#imagen-2 {
    width: 45%;
    top: 15%;
}

#imagen-3 {
    width: 30%;
    top: 15%;
}

#imagen-4 {
    width: 70%;
    top: 15%;
}

#imagen-5 {
    width: 35%;
    top: 15%;
}

#imagen-6{
    top: 20%;
}

#imagen-7 {
    width: 23%;
    top: 15%;
}

#imagen-8 {
    width: 60%;
    top: 20%;
}

#imagen-9 {
    width: 60%;
}


.col-der-info h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px;
    margin-bottom: 15px;
}

.col-der-info p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.9px;
}

.info-bloque {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quintaParte {
    position: relative;
    background-image: url("../images/fondoQuintaParte.png");
    height: 1443.83px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenido5 {
    width: 1080px;
    padding-top: 309.83px;
}

.contenido5 h1 {
    width: 802px;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}

.videoNumberBlocks {
    width: 804px;
    height: 452px;
    margin-top: 46px;
    border-radius: 45px;
    border: 29px solid #FFF;
}

#muniecoParte5 {
    position: absolute;
    top: 700px;
    left: 731px;
}

.sextaParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 1034px;
    position: relative;
}

.contenido6 {
    width: 1080px;
    display: flex;
    flex-direction: column;
}

.contenido6 h1 {
    width: 746px;
    margin-top: 220px;
    color: #9D2121;
    font-size: 60px;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
}

.contenido6 p {
    margin-top: 43px;
    width: 467px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
}

#modelViewer {
    pointer-events: none;
    position: absolute;
    left: 599px;
    top: 7px;
    width: 667px;
    height: 973px;
}

.septimaParte {
    background-image: url("../images/455.png");
    background-size: cover;
    width: 1280px;
    height: 729px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fila {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* General para todos los bloques */
.bloque {
    position: relative;
    /* Necesario para el pseudo-elemento */
    display: block;
    /* Asegura un comportamiento consistente */
    overflow: hidden;
}

/* Efecto de iluminación */
.bloque::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Ajuste del tamaño del halo */
    height: 100%;
    border-radius: 50%;
    /* Forma completamente circular */
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 204, 0, 0.4) 50%, transparent 100%);
    z-index: 1;
    /* Detrás de la imagen */
    opacity: 0;
    /* Inicialmente oculto */
    transition: opacity 0.4s ease, transform 0.4s ease;
    filter: blur(15px);
    /* Suaviza el halo */
}

/* Hover para mostrar el efecto */
.bloque:hover::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.3);
    /* Aumenta ligeramente el tamaño */
}

/* Estilos específicos por bloque */
#bloque1 {
    display: block;
    position: relative;
    z-index: 2;
}

#bloque1:hover {
    scale: 1.1;
    transform: translateY(-10px);
}

#bloque2 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque2:hover {
    scale: 1.1;
    display: block;
    position: relative;
    transform: translateY(-15px);
}

#bloque3 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque3:hover {
    scale: 1.1;
    transform: translateY(-15px);
}

#bloque4 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque4:hover {
    scale: 1.1;
    transform: translateY(-15px);
}

#bloque5 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque5:hover {
    scale: 1.1;
    transform: translateY(-5px);
}

#bloque6 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque6:hover {
    scale: 1.1;
    transform: translateY(-5px);
}

#bloque7 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque7:hover {
    scale: 1.1;
    transform: translate(5px, -5px);
}

#bloque8 {
    z-index: 2;
    display: block;
    position: relative;
    transform: translate(5px, 0);
}

#bloque8:hover {
    scale: 1.1;
    transform: translate(5px, -5px);
}

#bloque9 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque9:hover {
    scale: 1.1;
}

#bloque10 {
    z-index: 2;
    display: block;
    position: relative;
}

#bloque10:hover {
    scale: 1.1;
}

#bloque1:hover,
#bloque2:hover,
#bloque3:hover,
#bloque4:hover,
#bloque5:hover,
#bloque6:hover,
#bloque7:hover,
#bloque8:hover,
#bloque9:hover,
#bloque10:hover {
    transition: transform .5s, scale .5s;
}

.preFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Rectangle\ 11.png");
    margin-top: 274px;
    width: 1280px;
    height: 1296px;
    overflow: hidden;
}




.containerPreFooter {
    position: relative;
    width: 1080px;
}

.containerPreFooter h1 {
    transform: translateY(-84px);
    position: fixed;
    width: 816px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    /* 56.7px */
}

#formPreFooter {
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: max-content;
}

#inputCorreo {
    width: 552px;
    height: 82px;
    padding-left: 52px;
    box-shadow: 4px 5px 0px 0px #02187E;
    border-radius: 100px 0px 0px 100px;
    border: 9px solid #FFF;
    border-right: none;
    outline: none;
    background: #ECECEC;
    /* Drop Shadow */
    color: rgba(0, 0, 0, 0.39);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}


@keyframes hoverAnimationForm {
    0% {
        transform: translateY(0);
        border-color: #fff;
        box-shadow: 4px 5px 0px 0px #02187E;
    }

    100% {
        transform: translateY(3px);
        border-color: #acd784;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    }
}


#inputSuscripcion {
    width: 218px;
    height: 82px;
    border: none;
    outline: none;
    border-radius: 0px 100px 100px 0px;
    border: 9px solid #fff;
    box-shadow: 4px 5px 0px 0px #02187E;
    background: #83C252;
    /* Drop Shadow */
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}


#inputSuscripcion:hover {
    animation: hoverAnimationForm 0.1s ease-in-out;
    transition: border-radius 0.1s;
    border-radius: 10px 100px 100px 10px;
    transform: translateY(3px);
    border-color: #acd784;
    background-color: #7db04a;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.containerPreFooter p {
    transform: translateY(-48px);
    margin-top: 46px;
    width: 578px;
    height: 95px;
    flex-shrink: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
}

.containerPreFooter span {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

#imgPostP {
    position: relative;
    transform: translateY(-48px);
    margin-top: 11px;
    z-index: 2;
}

#gif1 {
    position: absolute;
    height: 480px;
    left: -35px;
    top: 774px;
    z-index: 1;
}

#gif2 {
    position: absolute;
    height: 509px;
    left: 307px;
    top: 745px;
    z-index: 1;
}

#gif3 {
    position: absolute;
    z-index: 1;
    left: 656px;
    top: 339px;
    height: 997px;
}

#nubePreFooter1 {
    position: absolute;
    top: 243px;
    left: 694px;
    animation: moverNubes 12s linear infinite;
}

#nubePreFooter2 {
    position: absolute;
    top: 286px;
    left: 500px;
    animation: moverNubes 10s linear infinite;
}

#nubePreFooter3 {
    position: absolute;
    top: 545px;
    left: 252px;
    animation: moverNubes 14s linear infinite;
}


#pastoPreFooter {
    transform: translate(0, 340px);

}

@keyframes moverNubes {
    0% {
        transform: translateX(-1000px);
        /* Posición inicial fuera de la pantalla a la izquierda */
    }

    100% {
        transform: translateX(1000px);
        /* Posición final visible en la pantalla */
    }
}

footer {
    width: 1280px;
    background-color: #5E5E5D;
    height: 595px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-footer {
    height: 80px;
    background-color: #242424;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentFooter {
    width: 1080px;
}

.contentFooter p {
    margin-top: 35px;
    width: 820px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
}

.linksFooter {
    margin-top: 15px;
    display: flex;
    width: 383px;
    justify-content: space-around;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    text-decoration-line: underline;
}

.linksFooter a {
    color: white;
    text-decoration: none;
}

.redes {
    margin-top: 35px;
}

.sprite-1 {
    position: absolute;
    width: 480px;
    height: 270px;
    transform: scale(100%);
    translate: 50% 110%;
}

.sprite-1Animation {
    animation: spritesheet1 1s steps(40) infinite;
}



@keyframes spritesheet1 {
    from {
        background-position: 0px;
    }
    
    to {
        background-position: 19200px;
    }
}

.sprite-2 {
    position: absolute;
    width: 480px;
    height: 480px;
    translate: 100% 45%;
    transform: scale(60%);
}

.sprite-2Animation {
    animation: spritesheet2 1s steps(15) infinite;
}

@keyframes spritesheet2 {
    from {
        background-position: 0px;
    }
    
    to {
        background-position: 7200px;
    }
}

.sprite-3 {
    position: absolute;
    width: 480px;
    height: 270px;
    transform: translateY(115%);
}

.sprite-3Animation {
    animation: spritesheet3 1s steps(40) infinite;
}

@keyframes spritesheet3 {
    from {
        background-position: 0px;
    }
    
    to {
        background-position: 19200px;
    }
}